<html>
<body>
  <header>
    <h1>Votefy</h1>
  </header>
    <form action= "/songs" method = "post">
      <input type="text" name="artist" placeholder="Artist name" required>
      <input type="text" name="track" placeholder="Song name" required>
      <button>ADD</button>
    </form>

    <ul>
    <% playlist.each do |playlist| %>
      <li><%= playlist[1] %>: <%= playlist[2] %>
        <form action = "/songs/<%= playlist[0] %>" method = "POST">
        <input name = "_method" value = "DELETE" type = "hidden">
        <button>delete</button>
        </form></li>
    <% end %>
    </ul>



</body>
</html>
